name: Build AOSP GKI 5.10 Kernel

on:
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest

    env:
      KERNEL_MANIFEST_URL: https://android.googlesource.com/kernel/manifest
      KERNEL_MANIFEST_BRANCH: android12-5.10-lts
      BUILD_CONFIG: common/build.config.gki.aarch64
      OUT_DIR: out
      CCACHE_COMPRESS: "1"
      CCACHE_DIR: "${{ github.workspace }}/.ccache"

    steps:

    - name: Checkout builder repository
      uses: actions/checkout@v3

    - name: Install required packages
      run: |
        sudo apt-get update
        sudo apt-get install -y repo bc bison flex build-essential ccache \
        curl git python3 zip libssl-dev libncurses5-dev libelf-dev \
        pkg-config rsync ca-certificates gnupg gawk

    - name: Setup ccache
      uses: hendrikmuhs/ccache-action@v1
      with:
        key: gki-510

    - name: Sync Google GKI kernel sources
      run: |
        mkdir kernel-src
        cd kernel-src
        repo init -u "$KERNEL_MANIFEST_URL" -b "$KERNEL_MANIFEST_BRANCH"
        repo sync -j4 --force-sync

    - name: Build GKI kernel
      run: |
        cd kernel-src
        echo ">>> Starting kernel build..."
        BUILD_CONFIG=$BUILD_CONFIG \
        OUT_DIR=$OUT_DIR \
        ./build/build.sh

    - name: Upload kernel Image
      uses: actions/upload-artifact@v3
      with:
        name: GKI-Image
        path: kernel-src/out/android12-5.10/dist/Image

    - name: Upload kernel modules
      uses: actions/upload-artifact@v3
      with:
        name: modules
        path: kernel-src/out/android12-5.10/dist/*.ko

    - name: Upload entire dist folder
      uses: actions/upload-artifact@v3
      with:
        name: dist
        path: kernel-src/out/android12-5.10/dist/*
